services:
  Dbp\Relay\BaseOrganizationConnectorCampusonlineBundle\Service\OrganizationProvider:
    autowire: true
    autoconfigure: true
    arguments:
      $entityManager: '@doctrine.orm.dbp_relay_base_organization_connector_campusonline_bundle_entity_manager'
    calls:
      - setCache: [ '@dbp.relay.base_organization_connector_campusonline.cache.campus_online', 87000 ] # one day

  Dbp\Relay\BaseOrganizationConnectorCampusonlineBundle\Service\HealthCheck:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseOrganizationConnectorCampusonlineBundle\Cron\CacheRefreshCronJob:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseOrganizationConnectorCampusonlineBundle\EventSubscriber\MigratePostEventSubscriber:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseOrganizationConnectorCampusonlineBundle\EventSubscriber\OrganizationEventSubscriber:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseOrganizationBundle\API\OrganizationProviderInterface:
    '@Dbp\Relay\BaseOrganizationConnectorCampusonlineBundle\Service\OrganizationProvider'

  dbp.relay.base_organization_connector_campusonline.cache.campus_online:
    parent: cache.app
    tags:
      - { name: 'cache.pool', default_lifetime: 60 }
